.compra_exitosa{
  text-align: center;
  margin-top: 100px;  

}
.regresar{
  text-align: center;
  padding: 20px;  
  margin-bottom: 10px;
  
}
.regresar button{
  border: none;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 30px;
 
}
.regresar button:hover{
  background-color: #5f072f;
  
}
.regresar a {
  text-decoration: none; 
  cursor: pointer;
  color: white;
}

.total_order{  
  text-align: center;
  font-size: 13px;
}