.main_container{
  display: flex;
 
  
  
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: #282c44;  
  min-width: 250px;
  margin-right: 30px;
  color:#fffefe ;
  text-align: left;
  padding: 15px 0 0 5px;
  
}
.sidebar h5{
  margin-top: 0 ;
  margin-left: 30px;
  padding-top: 20px;
  color: #c4b9b9ab;
  font-weight: 500;
}
.sidebar h3, h4{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
}
.sidebar ul{
  text-align: left;
  padding-left: 30px;
  
}
.sidebar ul li{
  list-style-type: none;
  margin-bottom:15px ;
}
.sidebar ul li img {
  width: 15px;
  margin-right: 5px;
}

.sidebar ul li a{
  text-decoration: none;
  color:#fffefe
}
.current{
  color:#c4b9b9 
}
.sidebar ul li a:hover{
  
  color:#c4b9b9
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.loading h1 {
  margin-bottom: 30px;
  font-size: 25px;
}
.loading img {
  margin: 50px 0 0 250px;
  width: 100px;
  border-radius: 15px;
}
.noLoading {
  display: none;
}

@media screen and (min-width: 1920px){
  .sidebar h5{
    font-size: 21px;
  }
  .sidebar h3, h4{
    font-size: 25px;
  }
  .sidebar ul li{
    font-size: 20px;
    margin-bottom: 22px;
  }
  .sidebar ul li img {
    width: 18px;
    margin-right: 10px;
    
  }
}
