.main_container{
  display: flex;
  
}

.sidebar {
  background-color: #282c44;  
  min-width: 250px;
  margin: 0;
  color:#fffefe ;
  text-align: left;
  padding: 15px 0 0 5px;
}
.sidebar h5{
  margin-top: 0 ;
  margin-left: 30px;
  padding-top: 20px;
  color: #c4b9b9ab;
  font-weight: 500;
}
.sidebar h3, h4{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
}
.sidebar ul{
  text-align: left;
  padding-left: 30px;
  
}
.sidebar ul li{
  list-style-type: none;
  margin-bottom:15px ;
}
.sidebar ul li img {
  width: 15px;
  margin-right: 5px;
}

.sidebar ul li a{
  text-decoration: none;
  color:#fffefe
}
.current{
  color:#c4b9b9 
}
.sidebar ul li a:hover{
  
  color:#c4b9b9
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loading h1 {
  margin-bottom: 30px;
  font-size: 25px;
}
.loading img {
  margin: 0;
  width: 100px;
  border-radius: 15px;
}
.noLoading {
  display: none;
}