

.table_container{  
  margin: 40px auto; 
  margin-left:  350px;
  
}
.table{  
  background-color: #fcf8f4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-spacing:0 ;
  border-radius: 5px;
  width: 850px;
}
.table thead{
  background-color: rgb(194, 203, 233);
}
.table th{
  padding: 20px;
}
.table td{
 text-align: center;
 
 padding: 10px;
}
.items_btn{
  border: none;
  background-color:cadetblue;
  color: azure;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.greyRow{
  background-color: #e9e5e5;
}





@media screen and (min-width: 1920px){
  .table_container{   
    margin-left:  450px;    
  }
  .table{     
    width: 1300px;
  }
}