

.table_container{  
  margin: 50px auto; 
  
  
}
.table{  
  background-color: #fcf8f4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-spacing:0 ;
  border-radius: 5px;
}
.table thead{
  background-color: rgb(194, 203, 233);
}
.table th{
  padding: 20px;
}
.table td{
 text-align: center;
 padding: 10px;
}

.icons_container{
  display: flex;
  width: 110px;
  padding: 10px;
  
}
.icons_container button {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: 70px;
  padding: 5px;
  border-radius: 5px;
}
.icons_container button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.icons_container button img{
  width: 15px;  
  padding: 5px;  
}
.edit{
  background-color: rgb(106, 212, 106);
}
.delete{
  background-color: rgb(241, 58, 58);
}
.greyRow{
  background-color: #e9e5e5;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
 
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 10px;
  
}
.modal-content hr{
  width: 85%;
  border: 1px solid rgba(82, 81, 81, 0.1);
  margin-top: 5px;
}
.modal-content button {
  border: none;
  width: 70px;
  height: 40px;
  color: aliceblue;
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.modal-content button:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
#siBtn{
  background-color:rgb(241, 58, 58) ;
}
#noBtn{
  color: #000 !important;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert{
  display:none;
  background-color:  #c5fac5;
  width: 400px;
  height: 65px;  
  justify-content: left ;
  align-items: center;
  border-radius: 3px;
  margin: 5px auto;
  position: fixed;
  z-index: 101;
  
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 5px 8px rgba(183, 185, 192, 0.3);
  animation: fadeIn 0.3s;
  margin-bottom: 20px;
}
.alert img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;
}