body{
  background-color: black;
  margin: 0;
  
}
.form__container{  
  margin-top: 50px;
  text-align: center;
  color: antiquewhite;
  font-size: 20px;
}
.form__container img{
  border-radius: 10px;
}
.form {  
  display: block;
  width: 500px; 
  margin: 20px auto;
  color: aliceblue;
  font-size: 30px;  
}
.form label{
  margin: 10px;
}
.form input{
  width: 76%;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 30px;
  padding-left: 20px;
}
.form button{
  border: transparent;
  color:aliceblue;
  background-color: rgb(60, 60, 165);
  border-radius: 20px;
  width: 80%;
  padding: 10px ;
  height: 40px;
  font-weight: 600;
  font-size: 17px;
}
.form button:focus, .form input:focus{
outline: 0;
}
.title__neon{
  width: 100%;
  color: aliceblue;
  text-align: center;
  font-size: 150px;
  margin-top: 50px;
  animation: neon 3s infinite;
}
.title__neon h2{
  margin: 10px;
}
:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 45px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@media (max-width: 900px){
  .title__neon{
    font-size: 100px;
  }
}

@media (max-width: 670px){
  .title__neon{
    font-size: 60px;
    

  }
  
  .form__container img{
    width: 300px;
    margin-left: 35px;  
  }
  .form button{
    height: 55px;
    font-size: 25px;
  }
  .form input{
    height: 55px;
    font-size: 25px;
  }
}